<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My App</span>
    <span class="spacer"></span>
    <button mat-stroked-button>
      <img src="assets/images/avatar.png" class="avatar" alt=""> <span class="ms-2"> {{user.name }} </span>
    </button>
    <span style="font-size: small;" class="ms-2">Coins {{user.coins}} </span>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="products" class="mt-2 p-4">
  <div class="mt-2" style="position: relative; border: 1px solid lightgray; border-radius: 10px;"
    *ngFor="let item of products; index as i">
    <div class="d-flex">
      <div>
        <img [src]="item.thumbnail"
          style="height: 200px; width: 300px; border-top-left-radius: 10px; border-bottom-left-radius: 10px;"
          alt="not-available">

      </div>
      <div class="p-2">
        <h1>
          {{item.title}}
        </h1>
        <p>
          {{item.description}}
        </p>
        <div style="position: absolute; right: 5px;bottom: 5px;" class="text-end">
          <div *ngIf="checkIfPresent(item.id,item.point)">
            <button style="border-radius: 10px;" color="accent" mat-raised-button>Redeemed</button>

          </div>
          <button style="border-radius: 10px;" *ngIf="!checkIfPresent(item.id,item.point)" (click)="redeem(item.id,item.point)" color="primary"
            mat-raised-button>Redeem {{item.point}} points</button>
        </div>
      </div>
    </div>
  </div>

</div>